@import "../../../variables";

.insights {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  color: black;
}

.heading {
  font-weight: 500;
}

.hastagTitle {
  font-size: 48px;
  height: 193px;
  padding-top: 51px;
  text-align: center;
}

#headerLogo {
  position: relative;
  top: -36px;
}

#DD {
  z-index: 100;
}
