@import "../UI/variables";

.header {
  min-height: 100vh;

    @media #{$sm} {
      margin-top: 0;
      height: 100vh;
    }
    @media #{$md} {
      margin-top: 0;
      height: 100vh;
    }
    @media #{$lg} {
      margin-top: 0;
      height: 100vh;
    }
    @media #{$xl} {
      margin-top: 0;
      height: 100vh;
    }
    @media #{$xxl} {
      margin-top: 0;
      height: 100vh;
    }

  .heading {
    font-weight: 700;
    color: white;
    font-size: 3rem;
  }

  p {
    max-width: 40rem;
  }

  .mg-7 {
    margin-top: 7rem;

    @media #{$sm} {
      margin-top: 0;
    }
    @media #{$md} {
      margin-top: 0;
    }
    @media #{$lg} {
      margin-top: 0;
    }
    @media #{$xl} {
      margin-top: 0;
    }
    @media #{$xxl} {
      margin-top: 0;
    }
  }
  

}
