* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

p {
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 100;
}

hr {
  border-top: 3px solid #2cb4ee;
  opacity: 1;
  width: 50px;
  margin: 30px auto;
}

h2 {
  font-size: 2rem;
}

// Container classes
.container-750 {
  max-width: 750px !important;
}

.container-1000 {
  max-width: 1000px;
}
// Container classes - end

// Property classes
.text-white {
  color: white;
}

.no-text-transform {
  text-transform: none;
}
// Property classes - end
