@import "../../variables";

.navbar {
  transition: all 0.5s ease-out;
  text-align: left;

  .nav-link {
    font-size: 1rem;
    padding: 10px 20px !important;
    text-decoration: none;
    color: $blue;
  }
  .nav-link:hover {
    color: $red !important;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
}
